h1 {
    color: purple;
}

h2.rojo {
    color: red;
}

.azul {
    color: blue;
}

.mayuscula {
    text-transform: uppercase;
}

#titulo {
    text-transform: uppercase;
    text-align: center;
}

.titulo{
    text-transform: lowercase;
}

.amarillo,
.tachado {
    color: yellow;
    text-decoration: line-through;
}

.tachado {
    background-color: gray;
}

.marron {
    background-color: brown;
}
.comida{
    height: auto;
    width: 250px;
}